.columns{
  margin-block: 2rem;
}

.columns > div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > div.columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 40px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > div.columns-img-col {
    width: 100%;
    max-width: 650px;
  }
}

.columns .button-container {
  display: inline-block;
}

.columns .button-container + .button-container{
  padding-left: 1rem;
}

.columns.columns-1-cols.lead {
  font-size: var(--text-size-large);
}

.columns.columns-1-cols.quote {
  color: var(--color-gray);
  padding-left: 1rem;
  position: relative;
}

.columns.columns-1-cols.quote::before {
  position: absolute;
  content: "";
  border-left: 3px solid var(--color-pink);
  height: calc(100% - 120px);
  left: 0;
  top: 80px;
}

.columns.columns-1-cols.code, code {
  color: var(--color-light-gray);
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.columns.teaser {
  border-radius: 20px;
  background-color: var(--bg-primary);
  padding: 1rem;
}

.columns.teaser.columns-1-cols {
  text-align: center;
}

