.columns{
  padding-block: 2rem;
}

.columns > div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > div.columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 40px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.teaser > div > div:not(.columns-img-col) {
    margin-top:0;
  }

  .columns > div > div.columns-img-col {
    width: 100%;
    max-width: 650px;
  }
}

.columns .button-container {
  display: inline-block;
  padding-block: 20px;
}

.columns .button-container a {
  border: none;
  font-family: var(--font-family-bold);
  color: var(--color-link);
  margin-right: 20px;
}

.columns .button-container a::after {
  content: "\2192";
  padding-left: 5px;
}

.columns .button-container a:hover {
  color: var(--color-gray);
}

.columns.cta .button-container a {
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 12px 16px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--bg-secondary);
}


.columns.cta .button-container a::after {
  content: none;
}

.columns.cta .button-container + .button-container a {
  background-color: var(--color-white);
  color: var(--bg-secondary);
}

.columns.cta .button-container a:hover{
  opacity: 0.7;
}

.columns.teaser {
  max-width: 1200px;
  margin: auto;
}

.columns.teaser > div > .columns-img-col img {
  border-radius: 48px;
}

.columns.teaser > div > div:not(.columns-img-col) {
  border-radius: 48px;
  background-color: var(--bg-primary);
  padding:2rem;
  margin-bottom: 1rem;

}

.columns.teaser.columns-1-cols>div>div{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.columns.columns-1-cols.lead {
  font-size: var(--text-size-large);
}

.columns.columns-1-cols.quote {
  color: var(--color-gray);
  padding-left: 1rem;
  position: relative;
}

.columns.columns-1-cols.quote::before {
  position: absolute;
  content: "";
  border-left: 3px solid var(--color-pink);
  height: calc(100% - 120px);
  left: 0;
  top: 80px;
}

.columns.columns-1-cols.code {
  color: var(--color-light-gray);
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
}
