div.text-wrapper{
    margin-block: 1rem;
}


.hlx-text-content{
    display: block;
    position: relative;
}

.hlx-text-content.hlx-text-content-lead{
    font-size: var(--text-size-large);
}

.hlx-text-content.hlx-text-content-paraformate {
    color: #6c6767;
    padding-left: 1rem;
}

.hlx-text-content.hlx-text-content-paraformate::before {
  position: absolute;
  content: '';
  border-left: 3px solid var(--color-pink);
  height: 100%;
  left: 0;
}