footer {
  margin-top: 2rem;
  padding: 2rem 1rem;
  color: var(--color-primary);
  font-size: var(--text-size-medium);
  border-top: 1px solid var(--bg-primary);
  font-family: var(--font-family-bold);
}

footer ul {
  list-style-type: none;
}

footer ul li {
  padding-inline: 1rem;
}

footer img {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

footer > .footer > div > div,
footer ul {
  display: flex;
  justify-content: center;
}

footer .footer-logo img {
  width: 250px;
  height: 50px;
}

footer .footer p {
  margin-top: 20px;
  font-family: var(--font-family);
  
}

footer .footer-link-row {
  margin-inline: 5rem;
}

footer .footer-social-icons ul > li {
  padding-inline: 5px;
}

@media (max-width: 1525px) {
  footer .footer-link-row {
    margin-inline: 1rem;
  }

  footer .footer-link-row ul {
    flex-direction: column;
  }
}

@media (max-width: 525px) {
  footer > .footer > div > div {
    display: block;
  }

  footer {
    margin: 0;
  }

  footer .footer-social-icons ul {
    margin-top: 2rem;
    justify-content: left;
  }
}
