:root {
  /* colors */
  --color-primary: #222;
  --color-link: #222;
  --color-white: #fff;
  --color-gray: #797575;
  --color-light-gray: #aaa3a3;
  --color-underlined: var(--color-primary);
  --border-gray: #acaaaa;
  --bg-primary: #f8f7f4;
  --bg-white: #fff;
  --bg-secondary: #222;
  --color-pink: #d145bf;
  --bg-pink: #ffabe7;


  /* fonts */
  --text-size-small: 0.75rem;
  --text-size-primary: 1rem;
  --text-size-medium: 1.25rem;
  --text-size-large: 1.5rem;
  --font-family: "TitilliumWeb-Regular", sans-serif;
  --font-family-bold: "TitilliumWeb-Bold", sans-serif;

  /* heading sizes */
  --heading-font-size-xxl: 4.5rem;
  --heading-font-size-xl: 3rem;
  --heading-font-size-l: 2rem;
  --heading-font-size-m: 1.5rem;
  --heading-font-size-s: 1.25rem;
  --heading-font-size-xs: 1rem;

  /* nav height */
  --nav-height: 80px;
}

@font-face {
  font-family: TitilliumWeb-Regular;
  src: url('/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: TitilliumWeb-Bold;
  src: url('/fonts/TitilliumWeb-Bold.ttf');
}

*,
*::before,
*::after,
*::marker {
  box-sizing: content-box;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
img,
b,
u,
i,
center,
table,
tr,
th,
td,
video,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

strong {
  font-family: var(--font-family-bold);
}

sup {
  line-height: 0;
  font-size: smaller;
  vertical-align: super;
}

sub {
  line-height: 0;
  font-size: smaller;
  vertical-align: sub;
}

img {
  width: 100%;
  height: 100%;
}

img:not([src]) {
  visibility: hidden;
}

body {
  font-family: var(--font-family);
  font-size: var(--text-size-primary);
  background: var(--bg-white);
  color: var(--color-primary);
  line-height: 2;
  overflow-x: hidden;
  margin: 0;
}

body > *:not(footer) {
  margin-bottom: 85px;
}

@media (max-width: 525px) {
  body > *:not(footer) {
    margin-bottom: 25px;
  }
}

main,
header {
  max-width: 2000px;
  margin: auto;
}

h1,
h2,
h3 {
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: 100;
  padding-bottom: 16px;
;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

@media (max-width: 998px) {
  h1 {
    font-size: var(--heading-font-size-xl);
  }

  h2 {
    font-size: var(--heading-font-size-l);
  }

  h3 {
    font-size: var(--heading-font-size-m);
  }

  h4 {
    font-size: var(--heading-font-size-s);
  }

  h5 {
    font-size: var(--heading-font-size-xs);
  }
}

a {
  text-decoration: none;
  border-bottom: 1px dotted var(--border-gray);
  color: var(--color-primary);
  font-size: var(--text-size-primary);
}

a:has(picture) {
  border: none;
}

a:hover {
  font-family: var(--font-family-bold);
  font-weight: 400;
}

.picture-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.button a {
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 16px 24px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--bg-secondary);
}

.button a:hover {
  background-color: var(--color-white);
  color: var(--bg-secondary);
}

main > .section {
  max-width: 1320px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
}

main ul {
  margin-left: 1.25rem;
}

main ul > li::marker {
  color: var(--color-pink);
}
