.text-and-image{
    padding-block: 20px;
}

.text-and-image > .hlx-text-content,
.text-and-image > .hlx-image-content {
width : 48%;
display: inline-block;
padding-inline: 10px;
vertical-align: top;
}